# The mode in which to run the Docker Compose. Currently, only "dev" is accepted.
MOD=dev

GP2__MINIO__IMAGE__TAG=latest           # Minio container image tag.
GP2__MINIO__HOST_NAME=minio             # Minio container host name.
GP2__MINIO__API__PORT=9000              # Minio API port inside the Docker Compose network.
GP2__MINIO__API__LOCAL_PORT=9000        # Minio API port to access locally.
GP2__MINIO__UI__PORT=9001               # Minio UI port inside the Docker Compose network.
GP2__MINIO__UI__LOCAL_PORT=9001         # Minio UI port to access locally.
GP2__MINIO__USER=minio-user             # Minio user.
GP2__MINIO__PASSWORD=minio-password     # Minio password.

GP2__HIVE_METASTORE__IMAGE__TAG=4.0.0                               # Hive Metastore container image tag.
GP2__HIVE_METASTORE__HOST_NAME=metastore                            # Hive Metastore container host name.
GP2__HIVE_METASTORE__PORT=9083                                      # Hive Metastore thrift port.
GP2__HIVE_METASTORE__POSTGRES__IMAGE__TAG=16                        # Hive Metastore database container image tag. 
GP2__HIVE_METASTORE__POSTGRES__HOST_NAME=hive-metastore-postgres    # Hive Metastore database container host name. 
GP2__HIVE_METASTORE__POSTGRES__PORT=5432                            # Hive Metastore database port. 
GP2__HIVE_METASTORE__POSTGRES__DB=metastore                         # Hive Metastore database name. 
GP2__HIVE_METASTORE__POSTGRES__USER=postgres                        # Hive Metastore database user. 
GP2__HIVE_METASTORE__POSTGRES__PASSWORD=postgres                    # Hive Metastore database password.
GP2__HIVE_METASTORE__DEFAULT_WAREHOUSE_DIR=s3a://default/warehouse  # Hive Metastore default warehouse location to use.

GP2__TRINO__IMAGE__TAG=475      # Trino container image tag.
GP2__TRINO__HOST_NAME=trino     # Trino container host name.
GP2__TRINO__PORT=8080           # Trino API port inside the Docker Compose network.
GP2__TRINO__LOCAL_PORT=8080     # Trino API port to access locally.
